apiVersion: v1
kind: ConfigMap
metadata:
  name: cm-rp-businessentity-app
  namespace: ns-retailpulse
data:
  application.yaml: |
    server:
      port: 8082

    auth:
      enabled: false
      origin: "http://localhost:4200"
      jwt:
        key:
          set:
            uri: http://app-iam:8081/oauth2/jwks

    spring:
      datasource:
        url: jdbc:mysql://mysql-rp-businessentity:3306/RPBusinessEntityDB
        username: root
        password: password
        driver-class-name: com.mysql.cj.jdbc.Driver

      jpa:
        hibernate:
          ddl-auto: update
        database-platform: org.hibernate.dialect.MySQL8Dialect
        show-sql: true

    logging:
      level:
        root: INFO
        org:
          springframework:
            security: TRACE
        com.retailpulse: DEBUG
      file:
        name: logs/rp-businessentity.log

---

apiVersion: apps/v1
kind: Deployment
metadata:
  name: deploy-rp-businessentity
  namespace: ns-retailpulse
  labels:
    app: deploy-rp-businessentity  
spec:
  replicas: 1
  selector:
    matchLabels:
      app: deploy-rp-businessentity
  strategy: {}
  template:
    metadata:
      labels:
        app: deploy-rp-businessentity
    spec:
      containers:
      - image: docker.io/casperyap/rp-businessentity-app:v0.1.0
        name: myapp        
        volumeMounts:
        - name: config-volume
          mountPath: /app/config/application.yaml
        resources: {}
      volumes:
      - name: config-volume
        configMap:
          name: cm-rp-businessentity-app

---

apiVersion: v1
kind: Service
metadata:
  labels:
    app: deploy-rp-businessentity
  name: svc-rp-businessentity
spec:
  ports:
  - port: 8082
    protocol: TCP
    targetPort: 8082
    nodePort: 30082
  selector:
    app: deploy-rp-businessentity
  type: NodePort